<%- include('partials/header.ejs') %>
    <%- include('partials/homenavbar.ejs') %>

        <body>
            <div class="container">
                <br>
                <div class="jumbotron form-control bg-light ">

                    <h1 class="display-4">Bem vindo ao Fórum!</h1>

                    <p class="lead">Este é um simples fórum de desenvolvimento</p>

                    <hr class="my-4">

                    <p>Fórum para desenvolver suas ideias, compartilhar conhecimento sobre programação</p>

                    <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>

                </div>
                <hr>
                <% articles.forEach(article=> { %>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
                        </div>
                    </div>
                    <br>
                    <% }) %>
            </div>
        </body>

        <%- include('partials/footer.ejs') %>